<html>
	<head>
		<link rel="stylesheet" href="/static/css/styles.css" type="text/css">
	</head>
	<body>
		<div id="container">
			<div id="my_info">
				<form action="/register" method="POST">
					<h2>My Information:</h2>
					<input type="text" name="name" value="Enter Name">
					<input type="text" name="email" value="Enter Email">
					<input type="password" name="password" value="Enter Password">
					<input type="password" name="confirm_pw" value="Confirm Password">
					<input type="submit" name="submit" value="Register">	
				</form>
			</div>
			<div id="interests">
				<form action="/interests" method="POST">
					<h3>Interests:</h3>
					<input type="checkbox" name="art" value="Art"> Art<br>
					<input type="checkbox" name="food_bev" value="Food_Bev"> Food & Beverages<br>
					<input type="checkbox" name="gaming" value="Gaming"> Gaming<br>
					<input type="checkbox" name="music" value="Music"> Music<br>
					<input type="checkbox" name="outdoors" value="Outdoors"> Outdoors<br>
					<input type="checkbox" name="sports" value="Sports"> Sports<br>
					<input type="checkbox" name="travel" value="Travel"> Travel<br>
				</form>
			</div>

			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<p>{{message}}</p>
					{% endfor %}
				{% endif %}
			{% endwith %}
		</div>
	</body>
</html>
